body {
    background-color: #f0f0f0;
    font-family: sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
}
.perfil_card {
    background-color: rgba(236, 217, 132, 0.918);
    text-align: center;
    border-radius: 10px;
    padding: 30px;
}
.perfil_card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}