*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.size-transition{
    width: 150px;
    height: 100px;
    background-color: palevioletred;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    transition: width 0.3s, height 0.3s ease;
    font-size: small;
}
/*pseudo-classe hover*/
.size-transition:hover{
    width: 200px;
    height: 150px;
    font-size: 1.5rem;
}